html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
.footer {
  background-color: white;
  padding: 60px 15px;
  font-family: 'Pretendard', sans-serif;
  color: black;
  position: relative;
  border-top: 1px solid #ddd;
}

.footer-inner {
  max-width: 1020px;
  margin: 0 auto;
}

.footer-service {
  display: flex;
  margin-bottom: 20px;
}

.service-wrap {
  display: flex;
  gap: 40px;
  margin-bottom:50px;
}

.service-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service-item-bold a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
}

.service-list li:last-child a{
  font-size: 2.4rem;
  color: #0065f1;
}

.icon-wrap {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.icon-wrap img {
  width: 40px;
  height: 40px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

.footer-logo {
  font-size: 3.5rem;
  font-weight: 500;
}

.footer-right-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-left: auto;
}

.footer-right-icons img {
  width: 30px;
  height: 30px;
}

.btn-top img {
  width: 24px;
  height: 30px;
}


@media (max-width:570px){
  .service-item a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
}
  .service-item-bold a {
  font-size: 1.4rem;
}

.icon-wrap img {
  width: 36px;
  height: 36px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

.footer-logo {
  font-size: 2.6rem;
  font-weight: 500;
}

.footer-right-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-left: auto;
}

.footer-right-icons img {
  width: 26px;
  height: 26px;
}

.btn-top img {
  width: 22px;
  height: 28px;
}


}
