/* Global styles */
body {
    margin: 0;
    padding-top: 0px; /* Height of the fixed header */
    font-family: 'Pretendard', sans-serif;
    background: linear-gradient(to right, #d8eaff, #ede4ff);

}
/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Container & Top-Header */
.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Hero section styles */
.hero {
  background-image:url(../assets/main/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  padding: 240px calc((100% - 1020px) / 2);
}
.hero h2 {
    font-size: 51px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #f0f0f0;
}
.hero h1{
    font-weight: 600;
    font-size: 80px;
    color: #fff;
}

/*Title, Sub-title*/
.gradient-text {
  background: linear-gradient(90deg, #3179f6, #a01aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.6;
}
.bottom-text{
  font-size: 60px;
  margin-bottom: 30px;
}
/*Concern Section*/
.concerns {
  padding: 100px 0px 0px;
  text-align: center;
}
.speech-bubbles{
  max-width: 1020px;
  margin: 0 auto;
  margin-top: 43px;
  margin-bottom: 120px;
  justify-content: center;
}
.speech-bubble-section {
  display: flex;
  flex-direction: column;
}
.speech-bubble-one {
  display: flex;
  justify-content: flex-start;
  height: 140px;
}
.speech-bubble-two {
  display: flex;
  justify-content: flex-end;
  height: 140px;
}
.speech-bubble-three {
  display: flex;
  justify-content: flex-start;
  height: 140px;
}
.speech-bubble-four {
  display: flex;
  justify-content: flex-end;
  height: 140px;
}
.speech-bubbles img {
  display: block;
  height: 180px;
  width: auto;
  opacity: 1;
}

/*Precise-diagnosis Section*/
.precise-diagnosis{
  text-align: center;
}
.solutions-section-mobile{
  display: none;
}
.solutions-section-pc{
  display: flex;
  max-width: 1020px;
}
.solutions {
  display: flex;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
}
.solutions-section {
  display: flex;
  justify-content: space-between;
}
.solutions-left,
.solutions-right {
  width: 520px;
}
.solutions img {
  max-width: 520px;
  width: 100%;
}
.solution-left-two{
  margin-top: 220px;
}

/* Critical Period Section*/
.critical-period-cards-mobile{
  display: none;
}
.critical-period{
  display: block;
  padding: 40px 0px 0px;
  text-align: center;
}
.critical-period h2 {
  font-size: 48px;
  line-height: 1.6;
}
.critical-period-cards {
  display: flex;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
}
.critical-period-section {
  display: flex;
  justify-content: flex-start; /* 꼭 필요! */
  margin-bottom: 100px;
  margin-top: 50px;
}
.critical-period-section > div {
  margin-left: -20px;
}
.critical-period-section > div:first-child {
  margin-left: 0; /* 첫 카드는 정상 위치 */
}
.critical-period-cards img {
  max-width: 420px;
  width: 100%;
}
.critical-period-section > div:nth-child(2) {
  transform: translateY(-20px);
}

/* Reading Intro Section (above footer) */
.reading-intro {
  position: relative;
  text-align: center;
  padding: 0;
  background: none;
  overflow: hidden;
}
.reading-bg-image {
  width: 100%;
  display: block;
}
.reading-intro-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.6;
  max-width: 1020px;
  white-space: nowrap;
}
.reading-intro .highlight {
  background: linear-gradient(90deg, #476bff, #a030ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 48px;
}

/*Curriculum*/
.curriculum {
  background: #fff;
  padding: 100px 0px 0px;
  text-align: center;
  padding-top:100px;
}
.curriculum p {
  max-width: 1020px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 20px;
  color: #666;
  line-height: 1.6;
}
.curriculum-graphic {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 30px 0 80px;
  /*max-width: 1020px;*/
}
.curriculum-graphic img {
  max-width: 100%;
  height: auto;
}

/*Roadmap*/
.roadmap {
  background: linear-gradient(to right, #d8eaff, #ede4ff);
  padding: 100px 0px;
  text-align: center;
}
.roadmap p {
  max-width: 1020px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 20px;
  color: #666;
  line-height: 1.6;
}
.roadmap-graphic {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1020px;
}
.roadmap-graphic img {
  max-width: 100%;
  height: auto;
}

/*flagship*/
.flagship{
  max-width: 1020px;
  margin: 0 auto;
}
.flagship-heading-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 20px;
}
.flagship-indicator {
  width: 4px;
  height: 100%;
  min-height: 50px;
  border-radius: 4px;
  background: linear-gradient(180deg, #3179f6, #a01aff);
  flex-shrink: 0;
}
.flagship-heading-texts {
  display: flex;
  flex-direction: column;
}
.flagship-label {
  font-size: 16px;
  font-weight: 700;
  color: #4a30f6;
  margin-bottom: 4px;
}
.flagship-heading {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}
.flagship-description{
  max-width: 1020px;
  margin: 0 auto 40px;
  font-size: 19px;
  color: #666;
  line-height: 1.6;
}
.flagship-program{
  max-width: 1020px;
  margin: 0 auto 40px;
}

.flagship-program-cards{
  display: flex;
  gap:40px;
}
.flagship-program img{
  max-width: 310px;
}

/*Booster*/
.booster{
  max-width: 1020px;
  margin: 60px auto;
}
.booster-heading-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 20px;
}
.booster-indicator {
  width: 4px;
  height: 100%;
  min-height: 50px;
  border-radius: 4px;
  background: linear-gradient(180deg, #3179f6, #a01aff);
  flex-shrink: 0;
}
.booster-heading-texts {
  display: flex;
  flex-direction: column;
}
.booster-label {
  font-size: 16px;
  font-weight: 700;
  color: #4a30f6;
  margin-bottom: 4px;
}
.booster-heading {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}
.booster-description{
  max-width: 1020px;
  margin: 0 auto 40px;
  font-size: 19px;
  color: #666;
  line-height: 1.6;
}
.booster-program{
  max-width: 1020px;
  margin: 0 auto 100px;
}

.booster-program-cards{
  display: flex;
  gap:40px;
}
.booster-program img{
  max-width: 310px;
}

/*Instructor Qualification*/
.instructor-period{
  display: block;
  padding:100px 0px 0px;
  text-align: center;
  background-color: #fff;
}
.instructor-period-cards {
  display: flex;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
}
.instructor-period-section-pc {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 50px;
}
.instructor-period p {
  max-width: 1020px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 20px;
  color: #666;
  line-height: 1.6;
}
.instructor-period-section-mobile{
  display: none;
}
.instructor-period-cards img {
  max-width: 1020px;
  width: 100%;
  padding-bottom: 16px;
}

/* Reading Intro Section (above footer) */
.usp{
  display: block;
  padding:100px 0px 0px;
  text-align: center;
  background-color: #fff;
}
.usp-wrapper{
  background: linear-gradient(180deg, #04224E, #010101);
}
.usp-bg-img{
  width: 100%;
  background-color: #fff;
}
.usp-cards-pc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.usp-cards-pc img{
  width: 100%;
  padding-bottom: 16px;
}

/*admission steps*/
.admission-steps {
  padding: 100px 30px;
  text-align: center;
  background-color: #fff;
}
.admission-steps p{
  max-width: 1020px;
  margin: 0 auto 40px;
  color:#666;
  line-height: 1.6;
}
.step-card {
  flex: 1 1 22%; /* 데스크탑 기준 4등분 */
  padding: 20px;
  text-align: center;
}
.step-card img {
  width: 1020px;
  padding-left: 50px;
  margin-bottom: 16px;
}
.step-card h3{
  margin-bottom: 10px;
}
.step-card p{
  width: 258px;
  font-size: 14px;
}
.step-card-mobile{
  display: none;
}

/*고해상도*/ 
@media (min-width: 1921px) {
  .curriculum-graphic {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1020px; /* ✅ 이거 필요함 */
  }
}
  @media (min-width: 1021px){
    .mobile-header{
      display: none;
    }
  }

  @media (max-width: 1020px){
/* Hero section styles */
.hero {
  height: 48vw;
  padding: 140px 30px 180px;
}
.hero h2 {
    font-size: 5vw;
    margin-bottom:4px;
    line-height: 1.4;
  }
.hero h1{
    font-weight: 600;
    font-size: 7vw;
}

/*Title, Sub-title*/
.gradient-text {
  font-size: 4vw;
    line-height: 1.4;
}
.bottom-text{
  font-size: 5.5vw;
  margin-bottom: 8px;
}
/*Concern Section*/
  .concerns {
  padding: 50px 0px 0px;
}
  .concerns h2 {
  margin-bottom: 0px;
  font-size: 4vw;
}
  .speech-bubbles{
    margin-top: 8px;
    margin-bottom: 20px;
  }
.speech-bubble-one,
.speech-bubble-two,
.speech-bubble-three,
.speech-bubble-four {
  justify-content: center;
  align-items: center;
  height: 18vw;
} 
.speech-bubble-one{
  margin-top: 1.8vw;
}
.speech-bubbles img {
  height: 21vw;
}

/*Precise-diagnosis Section*/
.precise-diagnosis h2 {
  margin-bottom: 0px;
    line-height: 0;
}
.solutions-section-pc{
  display: none;
}
.solutions-section-mobile {
  display: block;
}

/* Critical Period Section*/
.critical-period{
  padding-top: 0px;
}
.critical-period-cards{
  display: none;
}
.critical-period-cards-mobile{
  text-align: center;
  display: block;
}
.critical-period h2{
  line-height: 0;
}
.critical-period-one-mobile{
  padding:6vw 12vw 3vw;
}
.critical-period-two-mobile{
  padding:0px 40px 30px;
}
.critical-period-three-mobile{
  padding:0px 40px 15vw;
}
.critical-period-cards-mobile img {
  max-width: 380px;
  width: 100%;
}

/* Reading Intro Section (above footer) */
.reading-intro-inner {
  font-size: 5.5vw;
}
.reading-intro .highlight {
  font-size: 4.8vw;
}

/*Curriculum*/
.curriculum {
  padding: 70px 0px 0px;
  text-align: center;
  line-height: 1.4;
}
.curriculum h2{
  margin-bottom: 0px;
  line-height: 0;
}
.curriculum p {
  font-size: 2.3vw;
  max-width: 90vw;
  margin-top: 10px;
}
.curriculum-graphic {
  padding: 0 0 80px 20px;
  /*max-width: 1020px;*/
}
/*Roadmap*/
.roadmap {
  padding-bottom:10vw;
  padding-top:15vw;
}
.roadmap p {
  font-size: 2.3vw;
  max-width: 90vw;
  margin-top: 10px;
}
.roadmap-graphic {
  max-width: 90vw;
}
/*flagship*/
.flagship{
  max-width: 90vw;
}
.flagship-label {
  font-size: 2vw;
  margin-bottom: 0px;
}
.flagship-heading-wrapper{
  margin-bottom:8px;
}
.flagship-heading {
  font-size: 4vw;
  margin: 0;
}
.flagship-indicator {
  width: 4px;
  height: 100%;
  min-height: 6.4vw;
  border-radius: 4px;
  background: linear-gradient(180deg, #3179f6, #a01aff);
  flex-shrink: 0;
}
.flagship-description{
  max-width: 1020px;
  margin: 0 auto 20px;
  font-size: 2.3vw;
  color: #666;
  line-height: 1.6;
}
.flagship-description{
  margin-bottom:0px;
}
.flagship-program-cards{
  flex-direction: column;
  gap:0px;
}
.flagship-program-one{
  padding: 7vw 10vw 0px;
  margin: 0 auto;
}
.flagship-program-two{
  padding: 6vw 10vw 0px;
  margin: 0 auto;
}
.flagship-program-three{
  padding: 6vw 10vw 0vw;
  margin: 0 auto;
}
.flagship-program img{
  max-width: 400px;
  width: 100%;
}

/*Booster*/
.booster{
  max-width: 90vw;
}
.booster-label {
  font-size: 2vw;
  margin-bottom: 0px;
}
.booster-heading {
  font-size: 4vw;
  margin: 0;
}
.booster-indicator {
  width: 4px;
  height: 100%;
  min-height: 6.4vw;
  border-radius: 4px;
  background: linear-gradient(180deg, #3179f6, #a01aff);
  flex-shrink: 0;
}
.booster-description{
  max-width: 1020px;
  margin: 0 auto 20px;
  font-size: 2.3vw;
  color: #666;
  line-height: 1.6;
}
.booster-program-cards{
  flex-direction: column;
  gap:0px;
}
.booster-program-one{
  padding: 7vw 10vw 0px;
  margin: 0 auto;
}
.booster-program-two{
  padding: 6vw 10vw 0px;
  margin: 0 auto;
}
.booster-program-three{
  padding: 6vw 10vw 5vw;
  margin: 0 auto;
}
.booster-program img{
  max-width: 400px;
  width: 100%;
}

/*Instructor Qualification*/
.instructor-period{
  display: block;
  padding: 15vw 0px 0px;
  text-align: center;
  background-color: #fff;
}
.instructor-period-cards {
  display: flex;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px;
}
.instructor p {
  max-width: 1020px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 20px;
  color: #666;
  line-height: 1.6;
}
.instructor-period-section-mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vw;
  margin-top: 5vw;
}
.instructor-period-section-pc{
  display: none;
}
.instructor-period-cards img {
  max-width: 1020px;
  width: 100%;
}

/* Reading Intro Section (above footer) */
.usp{
  display: block;
  padding:10px 0px 0px;
  text-align: center;
  background-color: #fff;
}
.usp-bg-img{
  width: 100%;
  background-color: #fff;
}
.usp-cards-pc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
  padding: 6vw 30px 10vw;
}
.usp-cards-pc img{
  width: 100%;
}

/*admission steps*/
.admission-steps {
  padding: 30px 30px;
  text-align: center;
  background-color: #fff;
}
.admission-steps p{
  max-width: 1020px;
  margin: 0 auto 0px;
  color:#666;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 40px;
}
.admission-header {
  max-width: 900px;
  margin: 0 auto 60px;
}
.admission-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 1020px;
  margin: 0 auto;
  flex-wrap: wrap; /* 모바일 대응 */
}
.step-card-mobile {
  display: block;
  flex: 1 1 32%; /* 데스크탑 기준 4등분 */
  border-radius: 12px;
  padding: 0;
  text-align: center;
}
.step-card-mobile img {
  width: 100%;
  padding-left: 0px;
  margin-bottom: 16px;
}
.step-card h3{
  margin-bottom: 10px;
  font-size: 16px;
}
.step-card p{
  width: 100px;
  font-size: 14px;
}
.step-card{
  display: none;
}
}
